html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial;
    background-color:#cecdcd;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

h1 {
    color: #2f2f2f;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
nav {
    background-color: #333;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/*hambugger icon*/
.menu-btn {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

#menu-links a {
    margin: 10px;
}

/* SIMU */
@media (max-width: 600px) {

    .menu-btn {
        display: block;
    }

    #menu-links {
        display: none;
    }

    #menu-links a {
        display: block;
        margin: 10px 0;
    }
}

/*picha yangu*/
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}
/*fade in*/
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }

    /*.social-icons*/
}
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    font-size: 30px;
    margin: 10px;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: blue;
}
/*contact*/
.contact-form {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: darkblue;
}



